@tailwind base;
@tailwind components;
@tailwind utilities;

.min-h-hscreen {
  min-height: 50vh;
}
@layer components {
  .zoom-110 {
    zoom: 110%;
  }
}

.source-serif-4-900 {
    font-family: 'Source Serif 4', serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.box-t-1 {
  box-shadow: inset 0 1px 0 0 #ffffff0d;
}

.textbox {
  @apply box-t-1 bg-color-bg2 rounded-3xl px-4 py-3 text-color-normal md:px-10;
}

.innerbox {
  @apply border-l-4 border-indigo-500 px-1 md:px-5;
}

@layer components {
  .font-serif-lg {
    font-family:  Times, "Frank Ruhl Libre", serif;
  }

  .font-serif-sm {
    font-family:  "PT Serif", "Frank Ruhl Libre", Times, serif;
  }

  .font-serif-md {
    font-family: "PT Serif", "IBM Plex Serif", "Frank Ruhl Libre", Times, serif;
  }
}

.f-georgia {
  font-family: Georgia, serif;
}

.font-nosmallcaps {
  font-variant: normal;
}

.font-smallcaps {
  font-variant: small-caps;
}

.footnote-size {
  @apply text-lg max-sm:text-sm;
}

.p-size {
  font-size: 21px;
  line-height: 28px;
  letter-spacing: 0.01em;
  @apply max-sm:text-base;
}

.note-size {
  @apply text-xl max-sm:text-base;
}

.h1-size {
  font-size: 37px;
  line-height: 45px;
  font-weight: 600;
  @apply max-sm:text-3xl;
}

.h2-size {
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
  @apply max-sm:text-2xl;
}

.h3-size {
  font-size: 27px;
  line-height: 30px;
  font-weight: 500;
  @apply max-sm:text-xl;
}

.title-size {
  @apply text-6xl font-bold max-sm:text-4xl;
}

.subtitle-size {
  @apply text-2xl max-sm:text-lg;
}

ul {
  @apply my-2;
}

.p-size-sm {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.03em;
  @apply max-sm:text-base;
}
p {
  @apply my-3 max-sm:my-1;
}
@layer base {
  h1 {
    @apply h1-size font-smallcaps mb-5 mt-10 text-white max-sm:mb-3 max-sm:mt-5 font-serif-lg;
    letter-spacing: 0.01em;
  }
  h2 {
    @apply h2-size font-smallcaps mb-3 mt-9 text-white font-serif-lg;
    letter-spacing: 0.01em;
  }
  h3 {
    @apply h3-size text-bf mb-3 mt-8 text-white font-serif-lg;
    letter-spacing: 0.03em;
  }
  h4 {
    @apply h3-size mb-2 mt-8 text-zinc-200 font-serif-lg;
    letter-spacing: 0.01em;
  }
  /* ... */
}
/* h1 {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.03em;
} */

.mat-icons-sharp {
  font-family: 'Material Icons Sharp';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  letter-spacing: normal;
  text-transform: none;
  vertical-align: bottom;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


a {
  @apply text-color-highlight;
}

b {
  @apply text-color-highlight;
}
.text-bf {
  @apply font-bold text-white;
}
pt-1px {
  padding-top: 1px;
}

pt-2px {
  padding-top: 2px;
}

.center-box {
  min-height: 80vh;
  margin: 0 auto;
}

.element-class {
  scrollbar-gutter: stable both-edges;
}

ul {
  @apply p-size list-disc list-outside pl-10;
}

ol {
  @apply p-size list-decimal list-outside pl-10;
}

strong {
  @apply text-color-lightwhite
}

body{
  margin-left: autopx;
  margin-right: autopx;
  margin-bottom: autopx;
  margin-top: autopx;
}

.doc-box {
  @apply textbox;
  @apply md:px-5 rounded-xl md:py-3 border border-spacing-2 border-zinc-700 hover:bg-gray-700;
  font-weight: 500;
}