@tailwind base;
@tailwind components;
@tailwind utilities;

.min-h-hscreen {
  min-height: 50vh;
}

.box-t-1 {
  box-shadow: inset 0 1px 0 0 #ffffff0d;
}
.bg-color {
  background-color: #161510;
}

@layer components {
  .zoom-110 {
    zoom: 110%;
  }
}

.normal-color {
  /* color: #acacb0; */
  color: #b6b6ba;
  /* @apply text-zinc-300; */
}
.textbox {
  @apply box-t-1 normal-color rounded-3xl bg-zinc-800 px-4 py-3 text-xl md:px-10;
}

.f-sans {
  font-family: sans-serif;
}

.f-times {
  font-family: Times, 'Noto Serif SC', 'Songti SC', '宋体-简', "STSong", "SimSum", "华文宋体", "中易宋体", serif;
}

.font-nosmallcaps {
  font-variant: normal;
}

.font-smallcaps {
  font-variant: small-caps;
}

.footnote-size {
  @apply text-lg max-sm:text-sm;
}

.note-size {
  @apply text-xl max-sm:text-base;
}

.h1-size {
  font-size: 37px;
  line-height: 45px;
  font-weight: 800;
  letter-spacing: 0.03em;
  @apply max-sm:text-3xl;
}

.h2-size {
  font-size: 31px;
  line-height: 36px;
  font-weight: 600;
  letter-spacing: 0.03em;
  @apply text-zinc-100 max-sm:text-2xl;
}

.h3-size {
  font-size: 27px;
  line-height: 30px;
  font-weight: 800;
  letter-spacing: 0.03em;
  @apply max-sm:text-xl;
}

.title-size {
  @apply text-7xl max-sm:text-4xl;
  font-size: 78px;
  font-weight: 800;
}

.subtitle-size {
  @apply text-2xl max-sm:text-xl;
  font-weight: 600;
}

ul {
  @apply my-2;
}

.p-size {
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.01em;
  @apply max-sm:text-base;
}

p {
  font-weight: 500;
  @apply p-size my-3 max-sm:my-1;
}
@layer base {
  h1 {
    @apply h1-size font-smallcaps mb-5 mt-10 text-white max-sm:mb-3 max-sm:mt-5;
  }
  h2 {
    @apply h2-size font-smallcaps mb-5 mt-7 text-white;
  }
  h3 {
    @apply h3-size text-bf mb-3 mt-5 text-white;
  }
  h4 {
    @apply h3-size mb-3 mt-5 text-zinc-200;
    font-weight: 500;
  }
  /* ... */
}
/* h1 {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.03em;
} */

.mat-icons-sharp {
  font-family: 'Material Icons Sharp';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  /* font-size: 24px; */
  /* line-height: 1; */
  letter-spacing: normal;
  text-transform: none;
  vertical-align: bottom;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

a {
  @apply text-indigo-400;
}

.text-bf {
  @apply font-bold text-white;
}
pt-1px {
  padding-top: 1px;
}

pt-2px {
  padding-top: 2px;
}

.center-box {
  margin: 0 auto;
}

.element-class {
  scrollbar-gutter: stable both-edges;
}

.bg-color {
  @apply bg-zinc-900;
}


.doc-box {
  @apply textbox;
  @apply md:px-5 rounded-xl md:py-3 border border-spacing-2 border-zinc-700 hover:bg-gray-700;
  font-weight: 500;
}